## Модуль №1 - Что такое SQLAlchemy?

#### Что такое SQLAlchemy?
SQLAlchemy — это библиотека на Python, которая позволяет удобно работать с базами данных, не переписывая тонны SQL-запросов вручную. Она помогает использовать объекты Python вместо сырых SQL-команд

SQLAlchemy можно использовать в двух режимах:
1. Core — пишешь SQL как код, но без ORM
2. ORM — объектно-реляционное отображение: таблицы = классы, строки = объекты

#### Создание первой базы и подключения
Мы начнем с SQLite — встроенной, простой базы данных, которая создаётся как обычный файл.

create_engine() — главный способ установить подключение к базе.
* Для PostgreSQL: 'postgresql://user:password@localhost/dbname'
* Для MySQL: 'mysql+pymysql://user:password@localhost/dbname'
* Для SQLite: 'sqlite:///имя_файла.db'

Создадим простую таблицу users с колонками id и name.
* MetaData() — объект, в котором хранятся описания всех таблиц
* Table() — описание конкретной таблицы
* create_all() — создание таблицы в базе

In [7]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String

engine = create_engine('sqlite:///test.db')

metadata = MetaData()

users = Table(
    'users',
    metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String),
)

metadata.create_all(engine)

Добавим одного пользователя

In [8]:
with engine.connect() as conn:
    conn.execute(users.insert().values(name='Alice'))
    result = conn.execute(users.select())
    for row in result:
        print(row)

(1, 'Alice')

#### Мини-практика (Обязательное закрепление)
Создай файл task.py и:
1. Добавь таблицу books с полями:
* id (Integer, primary key)
* title (String)
* author (String)
2. Добавь туда 2 книги через .insert()
3. Выведи их на экран

In [9]:
books = Table(
    'books',
    metadata,
    Column('id', Integer, primary_key=True),
    Column('title', String),
    Column('author', String),
)

metadata.create_all(engine)

In [13]:
with engine.connect() as conn:
    conn.execute(books.insert().values(title='Война и мир', author='Лев Толстой'))
    conn.execute(books.insert().values(title='Тихий Дон', author='Михаил Шолохов'))
    result = conn.execute(books.select())
    for row in result:
        print(row)

(1, 'Война и мир', 'Лев Толстой')
(2, 'Тихий Дон', 'Михаил Шолохов')

## Модуль №2 - SQLAlchemy Core - работа с SQL через Python
#### Зачем вообще Core?
Представь, что тебе нужно гибко управлять SQL-запросами (например, использовать JOIN, CASE, GROUP BY) — ORM не всегда даст нужную гибкость. Вот тут SQLAlchemy Core — отличный инструмент.

SQLAlchemy Core:
* ближе к "настоящему" SQL
* даёт полный контроль над запросами
* безопасен (SQL-инъекции невозможны при корректной работе)

#### Повторим подключение к БД и создание таблиц
* Параметр echo=True показывает в консоли все SQL-запросы, которые выполняются. Это удобно для отладки.
* nullable=False — поле обязательно для заполнения
* primary_key=True — означает, что поле будет автоинкрементироваться

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, select, and_, or_

engine = create_engine("sqlite:///books.db", echo=True)

metadata = MetaData()

books = Table(
    'books',
    metadata,
    Column('id', Integer, primary_key=True),
    Column('title', String, nullable=False),
    Column('author', String),
)

metadata.create_all(engine)

with engine.connect() as conn:
    insert_smth = books.insert().values(title='1984', author='George Orwell')
    conn.execute(insert_smth)
    conn.execute(
        books.insert(),
        [
            {"title": "Brave New World", "author": "Aldous Huxley"},
            {"title": "Fahrenheit 451", "author": "Ray Bradbury"},
        ]
    )
    result = conn.execute(select(books))
    for row in result:
        print(row)
    
    # Select specific columns

    select_smth = select(books.c.title, books.c.author)
    result2 = conn.execute(select_smth)

    # Select specific books

    select_smth2 = select(books).where(
        or_(
            books.c.author == 'George Orwell',
            books.c.title.like("%451%")
        )
    )
    result3 = conn.execute(select_smth2)

    # Update the data

    update_smth = books.update().where(books.c.author == "George Orwell").values(title="Nineteen Eighty-Four")
    conn.execute(update_smth)

    # Delete a book

    delete_smth = books.delete().where(books.c.title == "Brave New World")
    conn.execute(delete_smth)

    result = conn.execute(select(books))
    for row in result:
        print(row)

# Транзации и управление соединением
# Контекстный менеджер - безопасный способ
# Это автоматически начинает и коммитит транзакцию. В случае ошибки — откат.
with engine.begin() as conn:
    conn.execute(books.insert().values(title="Dune", author="Frank Herbert"))
    conn.execute(books.insert().values(title="Hyperion", author="Dan Simmons"))

2025-07-23 11:36:19,895 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-07-23 11:36:19,896 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("books")
2025-07-23 11:36:19,896 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-07-23 11:36:19,897 INFO sqlalchemy.engine.Engine COMMIT
2025-07-23 11:36:19,898 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-07-23 11:36:19,899 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author) VALUES (?, ?)
2025-07-23 11:36:19,899 INFO sqlalchemy.engine.Engine [generated in 0.00100s] ('1984', 'George Orwell')
2025-07-23 11:36:19,900 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author) VALUES (?, ?)
2025-07-23 11:36:19,901 INFO sqlalchemy.engine.Engine [generated in 0.00058s] [('Brave New World', 'Aldous Huxley'), ('Fahrenheit 451', 'Ray Bradbury')]
2025-07-23 11:36:19,902 INFO sqlalchemy.engine.Engine SELECT books.id, books.title, books.author
FROM books
2025-07-23 11:36:19,902 INFO sqlalchemy.engine.Engine [generated in 0.00036s] ()
(1, '1984', 'George Orwell')
(2, 'Brave New World', 'Aldous Huxley')
(3, 'Fahrenheit 451', 'Ray Bradbury')
2025-07-23 11:36:19,903 INFO sqlalchemy.engine.Engine SELECT books.title, books.author
FROM books
2025-07-23 11:36:19,903 INFO sqlalchemy.engine.Engine [generated in 0.00034s] ()
2025-07-23 11:36:19,904 INFO sqlalchemy.engine.Engine SELECT books.id, books.title, books.author
FROM books
WHERE books.author = ? OR books.title LIKE ?
2025-07-23 11:36:19,904 INFO sqlalchemy.engine.Engine [generated in 0.00041s] ('George Orwell', '%451%')
2025-07-23 11:36:19,905 INFO sqlalchemy.engine.Engine UPDATE books SET title=? WHERE books.author = ?
2025-07-23 11:36:19,906 INFO sqlalchemy.engine.Engine [generated in 0.00048s] ('Nineteen Eighty-Four', 'George Orwell')
2025-07-23 11:36:19,907 INFO sqlalchemy.engine.Engine DELETE FROM books WHERE books.title = ?
2025-07-23 11:36:19,911 INFO sqlalchemy.engine.Engine [generated in 0.00433s] ('Brave New World',)
2025-07-23 11:36:19,912 INFO sqlalchemy.engine.Engine SELECT books.id, books.title, books.author
FROM books
2025-07-23 11:36:19,912 INFO sqlalchemy.engine.Engine [cached since 0.01021s ago] ()
(1, 'Nineteen Eighty-Four', 'George Orwell')
(3, 'Fahrenheit 451', 'Ray Bradbury')
2025-07-23 11:36:19,912 INFO sqlalchemy.engine.Engine ROLLBACK
2025-07-23 11:36:19,913 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-07-23 11:36:19,914 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author) VALUES (?, ?)
2025-07-23 11:36:19,914 INFO sqlalchemy.engine.Engine [cached since 0.01566s ago] ('Dune', 'Frank Herbert')
2025-07-23 11:36:19,915 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author) VALUES (?, ?)
2025-07-23 11:36:19,915 INFO sqlalchemy.engine.Engine [cached since 0.0168s ago] ('Hyperion', 'Dan Simmons')
2025-07-23 11:36:19,915 INFO sqlalchemy.engine.Engine COMMIT

#### Мини-практика
1. Создай таблицу movies с полями:
* id (primary key)
* title (string, not null)
* year (integer)
* genre (string)
2. Добавь 3 фильма разных жанров.
3. Выведи все фильмы, чей жанр — 'Sci-Fi'.
4. Обнови год выпуска фильма "The Matrix" на 1999.
5. Удали все фильмы старше 2000 года.

In [7]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, select, and_, or_

engine = create_engine("sqlite:///movies.db")
metadata = MetaData()
movies = Table(
    'movies',
    metadata,
    Column('id', Integer, primary_key=True),
    Column('title', String, nullable=False),
    Column('year', Integer, nullable=False),
    Column('genre', String, nullable=False)
)

metadata.create_all(engine)

with engine.connect() as conn:
    conn.execute(movies.insert(),
    [
        {"title": "Inception", "year": 2010, "genre": "Sci-Fi"},
        {"title": "The Godfather", "year": 1972, "genre": "Crime"},
        {"title": "The Dark Knight", "year": 2008, "genre": "Action"},
        {"title": "The Matrix", "year": 1998, "genre": "Sci-Fi"},
    ])
    result = conn.execute(select(movies))
    for row in result:
        print(row)

    sci_fi = select(movies).where(movies.c.genre == "Sci-Fi")
    result_sci_fi = conn.execute(sci_fi)
    for row in result_sci_fi:
        print(row)

    update_year = movies.update().where(movies.c.title == "The Matrix").values(year=1999)
    result_update = conn.execute(update_year)

    delete_movies = movies.delete().where(movies.c.year > 2000)
    result_delete = conn.execute(delete_movies)
    result = conn.execute(select(movies))
    for row in result:
        print(row)

(1, 'Inception', 2010, 'Sci-Fi')
(2, 'The Godfather', 1972, 'Crime')
(3, 'The Dark Knight', 2008, 'Action')
(4, 'The Matrix', 1998, 'Sci-Fi')
(1, 'Inception', 2010, 'Sci-Fi')
(4, 'The Matrix', 1998, 'Sci-Fi')
(2, 'The Godfather', 1972, 'Crime')
(4, 'The Matrix', 1999, 'Sci-Fi')

## Модуль 3: Основы ORM (Object-Relational Mapping) в SQLAlchemy
#### Что такое ORM?
ORM (Object-Relational Mapping) — это подход, при котором таблицы базы данных отображаются на Python-классы, а строки таблицы — на объекты этих классов.

Вместо SQL-запроса SELECT * FROM users, ты пишешь:
session.query(User).all()

SQLAlchemy ORM работает поверх SQLAlchemy Core и предоставляет более высокоуровневый интерфейс.
#### Настройка базы и базового класса
* declarative_base() — возвращает базовый класс, от которого наследуются все таблицы (модели).
* engine — объект подключения к БД (как в прошлых модулях)
* ```__tablename__``` — имя таблицы в БД
* Атрибуты класса становятся колонками таблицы
* ```__repr__``` — метод, который делает объекты читаемыми в консоли
* add() — добавляет объект
* commit() — сохраняет изменения в базе

In [ ]:
# Настройка базы и базового класса
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import declarative_base, sessionmaker

engine = create_engine("sqlite:///orm_example.db", echo=True)
Base = declarative_base()

# Создание модели (таблицы)
class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    name = Column(String, nullable=False)
    email = Column(String, unique=True)

    def __repr__(self):
        return f"<User(name={self.name}, email={self.email})>"

# Создание таблиц
Base.metadata.create_all(engine)

# Работа с session
Session = sessionmaker(bind=engine)
session = Session()

# Добавление пользователей (INSERT)
new_user = User(name="Alice", email="alice@example.com")
session.add(new_user)
session.commit()

# Чтение данных (SELECT)
users = session.query(User).all()
print(users)  # [<User(name=Alice, email=alice@example.com)>]

# Можно фильтровать выводимые данные
user = session.query(User).filter_by(name="Alice").first()
print(user.email)

# Обновление данных (UPDATE)
user = session.query(User).filter_by(name="Alice").first()
user.name = "Alicia"
session.commit()

# Удаление объектов (DELETE)
user = session.query(User).filter_by(name="Alicia").first()
session.delete(user)
session.commit()

Мини-практика
1. Опиши модель Book с полями:
* id (primary key)
* title (оязательное)
* author
* year

2. Добавь 3 книги
3. Выведи все книги автора Ray Bradbury
4. Обнови название книги "Fahrenheit 451" на "451 по Фаренгейту"
5. Удали книгу с названием Dune

In [ ]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import declarative_base, sessionmaker

engine = create_engine("sqlite:///orm_books.db")
Base = declarative_base()

class Book(Base):
    __tablename__ = "books"
    id = Column(Integer, primary_key=True)
    title = Column(String, nullable = False)
    author = Column(String)
    year = Column(Integer)

    def __repr__(self):
        return f"<Book(title={self.title}, author={self.author}, year={self.year})>"

Base.metadata.create_all(engine)

Session = sessionmaker(bind=engine)
session = Session()